<div class="container-form flex-col">
<!--  <form action="post" #f="ngForm" (ngSubmit)="HandleSubmit(f)" novalidate>
    <input type="email" name="email" ngModel required #email="ngModel" required placeholder="Email" />
    <input type="password" required placeholder="Mot de passe" />
    <p>
      En continuant, vous acceptez
      <a routerLink="/" class="link">nos conditions</a> ainsi que notre
      <a routerLink="/" class="link">politique de confidentialité</a>
    </p>
    <button type="submit">Se connecter</button>
  </form>-->
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="email" name="email" ngModel required #first="ngModel">
    <input type="password" name="mot de passe" ngModel>
    <button>Submit</button>
  </form>
  <a class="link" routerLink="/" routerLinkActive="active"
    >Mot de passe oublié ?</a>
</div>
