<div class="container-form flex-col">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="email" name="email" ngModel required #first="ngModel" placeholder="Email">
    <input type="password" name="mot de passe" ngModel placeholder="Mot de passe">
    <p>
      En continuant, vous acceptez
      <a routerLink="/" class="link">nos conditions</a> ainsi que notre
      <a routerLink="/" class="link">politique de confidentialité</a>
    </p>
    <button>Se connecter</button>
  </form>
  <a class="link" routerLink="/" routerLinkActive="active"
    >Mot de passe oublié ?</a>
</div>

