<div class="container-home flex-row">
  <div>
    <app-sidebar [userInfo]="user"></app-sidebar>
  </div>
  <div class="content">
    <div class="dashboard-row">
      <div class="dashboard-cell">
        <app-amount-total [items]="orders"></app-amount-total>
      </div>
    </div>
    <div class="dashboard-row">
      <div class="dashboard-cell">
        <app-chart></app-chart>
      </div>
    </div>
    <div class="dashboard-row">
      <div class="dashboard-cell">
        <app-chart></app-chart>
      </div>
    </div>

  </div>
</div>
