<div class="content-table">
  <div class="fill-table flex-row">
    <p>{{ currentDate }}</p>
    <hr />
  </div>
  <table>
    <tr>
      <th>Date</th>
      <th>Identity</th>
      <th>Plaque</th>
      <th>Scanner</th>
      <th>Montant</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{ item.date }}</td>
      <td>{{ item.firstname }} {{ item.lastname | uppercase }}</td>
      <td>{{ item.immat }}</td>
      <td>n°{{ item.scan }}</td>
      <td>{{ item.price }}€</td>
    </tr>
  </table>
</div>
