@import '~src/variables';
.content-table {
  table {
    // padding: 30px;

    td {
      width: auto;
      padding: 10px 35px;

      p {
        color: #a476ef;

        hr {
          border: 1px solid #a476ef;
        }
      }

      &:first-child {
        color: $lightgrey;
      }

      &:last-child {
        text-align: right;
        padding: 10px 90px;
        font-size: 18px;
        font-weight: bold;
      }

      &:nth-child(3) {
        border: 1px solid $darkgrey;
        border-radius: 6px;
      }
    }
  }
}
