@import '~src/variables';
.content-table {

  .fill-table {
  margin: 20px 0;

    p {
      margin: 0 30px;
    }
    hr {
      width: 60vw;
      margin-left: 10px;
      border: 1px solid $lightgrey;
    }
  }

  table {
    // padding: 30px;

    td {
      width: auto;
      padding: 10px 35px;

      &:first-child {
        color: $lightgrey;
      }

      &:last-child {
        text-align: right;
        padding: 10px 90px;
        font-size: 18px;
        font-weight: bold;
      }

      &:nth-child(3){
        border : 1px solid $darkgrey;
        border-radius: 6px;
      }
    }
  }
}
