<div class="content-table">
  <div class="fill-table flex-row">
    <p>Aujourd'hui</p>
    <hr />
  </div>
  <table>
    <tr *ngFor="let item of listDateToday">
      <td>{{ item.date }}</td>
      <td>{{ item.firstname }} {{ item.lastname | uppercase }}</td>
      <td>{{ item.immat }}</td>
      <td>{{ item.price }}€</td>
    </tr>
  </table>
  <div class="fill-table flex-row">
    <p>Hier</p>
    <hr />
  </div>
  <table>
    <tr *ngFor="let item of listDateYesterday">
      <td>{{ item.date }}</td>
      <td>{{ item.firstname }} {{ item.lastname | uppercase }}</td>
      <td>{{ item.immat }}</td>
      <td>{{ item.price }}€</td>
    </tr>
  </table>
  <div class="fill-table flex-row">
    <p>Les six derniers mois</p>
    <hr />
  </div>
  <table>
    <tr *ngFor="let item of listDateSixMonth">
      <td>{{ item.date }}</td>
      <td>{{ item.firstname }} {{ item.lastname | uppercase }}</td>
      <td>{{ item.immat }}</td>
      <td>{{ item.price }}€</td>
    </tr>
  </table>
</div>
